<header id="cabeca">
    
    <a id="profile"> Profile </a>
    <a id="log" (click)="logout()"> Log Out </a>
    
    
    </header>
    <img src="../assets/marvel.png" id="marvel">
    <img src="../assets/playverso.png" id="seta"> 
    <h1 id="back" (click)="home()"> Back to Comic Books </h1> 
    <h1 id="personal" > Personal Data</h1>
    <h1 id="nick"> Nickname:  </h1>
    <h1 id="nickalter"> {{nickname}}  </h1>
    <h1 id="name" > Name:   </h1>
    <h1 id="namealter" > {{nome}} {{last}}   </h1>
    <h1 id="email"> E-mail: </h1>
    <h1 id="emailalter"> {{email}} </h1>

    <h1 id="contato"> Contato:   </h1>
    <h1 id="contatoalter">  {{contato}}  </h1> 
    <h1 id="adress"> Adress:  </h1>
    <h1 id="adressalter"> {{adress}} , {{number}} , {{complement}} , {{localidade}} , {{uf}} , {{cep}} </h1>
    <img src="../assets/cartao.png" id="cartao">
    <h1 id="formpay"> Form of Payment:  </h1>
    <h1 id="namecartao">  {{namecartao}}  </h1>

   <span id="validade"> {{validade}}   </span>

    <h1 id="numcartao">  {{numcartao}}  </h1>


    
